@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Kablammo&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$primary: #0074d9;
$danger: #ff4136;

$theme-colors: (
    "primary": $primary,
    "danger": $danger
);

$custom-colors: (
    // ### Primary
    "Very-Da-rk-Blue": #070439,
    "Desaturated-Blue": #585989,
    // ### Accent
    "Bright-Blue": #3065f8,
    "Moderate-Cyan": #3c9f8f,
    // ### Neutral
    "Light-Grayish-Blue": #f6f6fe,
    "Light-Gray": #bfbfbf,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

html {
    font-family: "Raleway", serif;
}

.logo {
    width: 5rem;
}

.illustration-1,
.illustration-2 {
    width: 100%;
}

.text-size {
    font-size: 1rem;
}

.height {
    height: 2.5rem;
}

.background {
    background: url("../images/bg-curve-mobile.svg") no-repeat;
    background-position: top;
    height: 3rem;
}

.subtitle {
    font-size: 1rem;
}

.text-paragraph {
    font-size: .9rem;
}

.line {
    position: relative;
}

.line::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
    height: 1.5px;
    width: 50%;
    background: #3c9f8f;
}

.avatar {
    width: 3rem;
}

.input-started,
.btn-started {
    width: 100%;
}

// Actives States
.height:focus {
    border: 3px solid #3065f8;
    outline: none;
}

.line:hover {
    transition: all 500ms ease;
    opacity: .5;
}
.error{
    border: 2px solid red;
}
.text-alert, .text-alert-second{
    display: none;
}
@media (min-width: 425px) {
    .background {
        background: url("../images/bg-curve-desktop.svg") no-repeat;
        background-size: cover;
        background-position: center;
        height: 8rem
    }
}

@media (min-width: 768px) {
    .text-size {
        font-size: 1.3rem;
    }

    .subtitle {
        font-size: 2rem
    }

    .text-paragraph {
        font-size: 1.3rem;
    }

    .card {
        width: 70%;
    }

    .input-started {
        width: 80%;
    }

    .btn-started {
        width: 25%;
    }
}

@media (min-width: 1024px) {
    .line::after {
        width: 23%;
        left: 0;
        transform: translate(0);
    }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";